.article {
    border-color: green;
    border-width: 1px;
    border-radius: 4px;

    &__header{
        background-color: var(--clr-primary);
        color:white;
        cursor: pointer;
    }

    &__title{
        text-align: center;
    }

    &__text{
        background-color: #ddd;
    }

}