.btn {
    display: inline-block;
    font:inherit;
    cursor: pointer;
    color:white;
    line-height: inherit;
    padding: 3px 10px;
    background-color: #888;
    border-radius: 4xp;
    outline: none;
    border:none;
    transition: background-color .3s;

    &__primary {
        background-color: var(--clr-primary);

        &:hover {
            background-color: var(--clr-secondary);
        }
        &:disabled {
            background-color: #999;
            cursor:default;
        }
    }
}