<div class="color-picker">
    <div class="color-picker__panels">
        <div class="color-picker__panel">Primaire hsl({{hue.value}},{{saturation.value}},{{luminosity.value}})</div>
        <div class="color-picker__panel">Analogue</div>
        <div class="color-picker__panel">Complémentaire</div>
    </div>
    <div class="color-picker__sliders">
        <aw-color-slider #hue sliderName="Hue" (min)="0" (max)="360"></aw-color-slider>
        <aw-color-slider #saturation sliderName="Saturation"></aw-color-slider>
        <aw-color-slider #luminosity sliderName="Luminosity"></aw-color-slider>
    </div>
    <div class="color_picker__result">Résultat</div>
</div>
